@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); */

*{
  font-family: 'Ruda', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Rubik Mono One', sans-serif; */
  /* font-family: 'Krona One', sans-serif; */
}

/* .App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.App-header-contenedor {
  margin-left: 15px;
  max-width: 1000px;
  display: flex;
  align-items: center;
}
.App-header-logo{
  width: 25px;
  height: 25px;
}
.App-header-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: calc(10px + 2.5vmin);
}

.App-header-title a {
  color: black;
  text-decoration: none;
}
.App-header-title a span{
  color: rgb(209, 9, 9);
  margin-right: 3px;
}
.navBurguer{
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  display: none;
  cursor: pointer;
}
.burguer{
  width: 15px;
  height: 2px;
  background-color: black;
  position: relative;
}
.burguer::after,
.burguer::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
background-color: black;
transition: 0.5s ease;
transition-property: top, bottom;
}
.burguer::after{
top: 7px;
}
.burguer::before{
bottom: 7px;
}
.App-header-lista {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.App-header-lista li{
  list-style: none;
  padding-right: 20px;
}
.App-header-lista li a{
  font-size: calc(10px + 1vmin);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.App-header-lista li a:hover, .App-header-lista li a:focus{
  color: rgb(209, 12, 12);
  transition: 0.3s;
}
 .BoxSubmenu{
  position: relative;
}
.App-header-submenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 20px;
  left: -30px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid rgba(240, 240, 240, 0.9);
  display: none;
}
.App-header-submenu li{
  padding: 15px 10px;
}
.App-header-submenu li:hover {
  background-color: rgba(240, 240, 240, 0.8);
  color: rgb(209, 12, 12);
}
.App-header-submenu li:hover a{
  color: rgb(209, 12, 12);
}
.App-header-submenu:hover{
  display: block;
}
.BoxSubmenu:hover .App-header-submenu{
  display: block;
}
.CartWidget-Box{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.CartWidget-Box span{
  font-size: calc(10px + 1vmin);
  margin-right: 7px;
  font-weight: 600;
}
.CartWidget-Box span:hover{
  color: rgb(209, 12, 12);
  transition: 0.3s;
  cursor: pointer;
}
.img-Box{
  position: relative;
}
.carrito{
  width: 25px;
  height: 25px;
  margin-right: 35px;
  transition: 0.3s;
}
.carrito:hover{
  transform: scale(1.1);
  transition: 0.5s;
  transition: 0.3s;
}
.number{
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(209, 12, 12);
  color: white;
  border-radius: 50%;
  padding:1px;
  position: absolute;
  top: -5px;
  right: 25px;
} */

/* Bootstrap section */

.Header{
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
.Header-content{
  position: relative;
  padding: 10px ;
  /* min-height: 10vh; */

}
.Header-brand {
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  font-size: calc(10px + 2.5vmin);
  text-decoration: none;
  margin-right: 10px;
}.Header-brand:hover{
  color: black;
}
.Header-brand span{
  color: rgb(209, 9, 9);
  margin-right: 3px;
}
.Header-brand img{
  margin: 0;
  margin-bottom: 7px;
}
.Header-ul{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.Header-options{
  font-size: calc(10px + 1vmin);
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 10px;
}
.Header-options:hover, .Header-options:focus{
  color: rgb(209, 9, 9);
}
.Header-user{
  display: flex;
  position: absolute; 
  top: 50%;
  transform: translateY(-50%); 
  right: 90px; 
}
.dropdown-menu{
  transition: 0.5s;
}
.dropdown-item{
  font-size: calc(10px + 1vmin);
}
.dropdown-item:hover{
  color: rgb(209, 9, 9);
}
.navbar-toggler{
  width: 35px;
  height: 35px;
  border: none;
  color: black;
  border-color: black;
  border: 3px solid;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0;
}
.navbar-toggler-icon{
  color: black;
}
/* CartWidget */
.CartWidget-Box{
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  top: 30px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.CartWidget-Box span{
  font-size: calc(10px + 1vmin);
  margin: 0;
  padding: 0 3px;
  font-weight: 600;
}
.CartWidget-Box span:hover{
  color: rgb(209, 12, 12);
  transition: 0.3s;
  cursor: pointer;
}
.img-Box{
  position: relative;
  width: 28px;
  height: 28px;
  /* margin: 0 5px; */
  margin-bottom: 5px;
}
.carrito{
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.carrito:hover{
  transform: scale(1.1);
  transition: 0.5s;
  transition: 0.3s;
  cursor: pointer;
}
.number{
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: rgb(209, 12, 12);
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 0.7rem;
}
/*Fin CartWidget */
/* End Bootstrap section */


/* ItemList */
.ItemList-Box{
  width: 100%;
  display:grid;
  gap: 2px;
  grid-auto-rows: 25rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  /* width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap; */
}
/* Fin ItemList */

/* Item Count */
.ItemCountBox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 220px;
  margin: 10px auto;
  /* background-color: aqua; */
}
/* .ItemCountBox button{
  background-color: none;
  padding: 2px 15px;
  font-size: 1rem;
} */
.ItemCountBtns{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  padding: 2px 0px;
  font-size: 1rem;
}
.ItemCountBtns button{
  background-color: transparent;
  /* padding: 0px 10px; */
  width: 40px;
  font-size: 1.2rem;
  font-weight: 700;
}
.ItemCountBtns-decrement{
  border: 2px solid red;
  color: red;
  transition: 0.3s;
}
.ItemCountBtns-decrement:hover{
  border: 2px solid white;
  color: white;
  background-color: red;
  transition: 0.3s;
}
.ItemCountBtns-increment{
  border: 2px solid green;
  color: green;
  transition: 0.3s;
}
.ItemCountBtns-increment:hover{
  border: 2px solid white;
  color: white;
  background-color: green;
  transition: 0.3s;
}
.ItemCountBox p{
  font-size: calc(10px + 2vmin);
  margin: 0;
}
.ItemCount-Add{
  width: 100%;
  padding: 5px 10px;
  margin-top: 7px;
  background-color: rgb(69, 69, 238);
  border: none;
  color: white;
  font-weight: 600;
}.ItemCount-Add:hover{
  background-color: rgb(6, 6, 224);
}
/* Fin ItemCount */

/* Item */
.Item-contain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Item-Box{
  width: 220px;
  height: 220px;
  margin: 20px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: -8px -8px 25px rgba(240, 240, 240, 0.8),
                3px 3px 20px rgba(0, 0, 0, 0.2);
}
.Item-img{
  width: 100%;
  height: 100%;
  transition: 0.8s;
}
.Item-BoxText{
  position: absolute;
  bottom: 0;
  left: 10px;
  visibility: hidden;
  transform: translateY(50%);
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 1px black;
  z-index: 2;
  font-size: 0.9rem;
}
.Item-Dark{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
}
.Item-Box:hover{
  transition: 0.5s;
}
.Item-Box:hover .Item-Dark{
  transition: 0.5s;
  visibility: visible;
}
.Item-Box:hover .Item-img{
  transform: scale(0.8);
  transition: 0.8s;
}
.Item-Box:hover .Item-BoxText{
  visibility: visible;
  transition: all 0.8s;
  transform: translateY(0);
}
.Item-stock{
  font-weight: 700;
}
/*Fin Item */

@media (max-width: 992px){
  .navbar{
    padding-bottom: 1rem;
  }
  .Header-user{
    top: 100%;
    transform: translateY(-100%); 
    right: 50%; 
    transform: translateX(50%); 
    margin-bottom: 20px;
  }
}