@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); */

*{
  font-family: 'Ruda', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Rubik Mono One', sans-serif; */
  /* font-family: 'Krona One', sans-serif; */
}

/* .App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.App-header-contenedor {
  margin-left: 15px;
  max-width: 1000px;
  display: flex;
  align-items: center;
}
.App-header-logo{
  width: 25px;
  height: 25px;
}
.App-header-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: calc(10px + 2.5vmin);
}

.App-header-title a {
  color: black;
  text-decoration: none;
}
.App-header-title a span{
  color: rgb(209, 9, 9);
  margin-right: 3px;
}
.navBurguer{
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  display: none;
  cursor: pointer;
}
.burguer{
  width: 15px;
  height: 2px;
  background-color: black;
  position: relative;
}
.burguer::after,
.burguer::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
background-color: black;
transition: 0.5s ease;
transition-property: top, bottom;
}
.burguer::after{
top: 7px;
}
.burguer::before{
bottom: 7px;
}
.App-header-lista {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.App-header-lista li{
  list-style: none;
  padding-right: 20px;
}
.App-header-lista li a{
  font-size: calc(10px + 1vmin);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.App-header-lista li a:hover, .App-header-lista li a:focus{
  color: rgb(209, 12, 12);
  transition: 0.3s;
}
 .BoxSubmenu{
  position: relative;
}
.App-header-submenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 20px;
  left: -30px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid rgba(240, 240, 240, 0.9);
  display: none;
}
.App-header-submenu li{
  padding: 15px 10px;
}
.App-header-submenu li:hover {
  background-color: rgba(240, 240, 240, 0.8);
  color: rgb(209, 12, 12);
}
.App-header-submenu li:hover a{
  color: rgb(209, 12, 12);
}
.App-header-submenu:hover{
  display: block;
}
.BoxSubmenu:hover .App-header-submenu{
  display: block;
}
.CartWidget-Box{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.CartWidget-Box span{
  font-size: calc(10px + 1vmin);
  margin-right: 7px;
  font-weight: 600;
}
.CartWidget-Box span:hover{
  color: rgb(209, 12, 12);
  transition: 0.3s;
  cursor: pointer;
}
.img-Box{
  position: relative;
}
.carrito{
  width: 25px;
  height: 25px;
  margin-right: 35px;
  transition: 0.3s;
}
.carrito:hover{
  transform: scale(1.1);
  transition: 0.5s;
  transition: 0.3s;
}
.number{
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(209, 12, 12);
  color: white;
  border-radius: 50%;
  padding:1px;
  position: absolute;
  top: -5px;
  right: 25px;
} */

/* Bootstrap section */

.Header{
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
.Header-content{
  position: relative;
  padding: 10px ;
  /* min-height: 10vh; */

}
.Header-brand {
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  font-size: calc(10px + 2.5vmin);
  text-decoration: none;
  margin-right: 10px;
}.Header-brand:hover{
  color: black;
}
.Header-brand span{
  color: rgb(209, 9, 9);
  margin-right: 3px;
}
.Header-brand img{
  margin: 0;
  margin-bottom: 7px;
}
.Header-ul{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.Header-options{
  font-size: calc(10px + 1vmin);
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 10px;
}
.Header-options:hover, .Header-options:focus{
  color: rgb(209, 9, 9);
}
.Header-user{
  display: flex;
  position: absolute; 
  top: 50%;
  transform: translateY(-50%); 
  right: 90px; 
}
.dropdown-menu{
  transition: 0.5s;
}
.dropdown-item{
  font-size: calc(10px + 1vmin);
}
.dropdown-item:hover{
  color: rgb(209, 9, 9);
}
.navbar-toggler{
  width: 35px;
  height: 35px;
  border: none;
  color: black;
  border-color: black;
  border: 3px solid;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0;
}
.navbar-toggler-icon{
  color: black;
}
.subMenuOptions li .Links{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  /* margin-left: 5px; */
  padding: 5px;
}
.subMenuOptions li .Links:hover{
  color: rgb(209, 9, 9);
  background-color: rgba(0, 0, 0, 0.2);
}
/* CartWidget */
.CartWidget-Box{
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  top: 30px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.CartWidget-Box span{
  font-size: calc(10px + 1vmin);
  margin: 0;
  padding: 0 3px;
  font-weight: 600;
}
.CartWidget-Box span:hover{
  color: rgb(209, 12, 12);
  transition: 0.3s;
  cursor: pointer;
}
.img-Box{
  position: relative;
  width: 28px;
  height: 28px;
  /* margin: 0 5px; */
  margin-bottom: 5px;
}
.carrito{
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.carrito:hover{
  transform: scale(1.1);
  transition: 0.5s;
  transition: 0.3s;
  cursor: pointer;
}
.number{
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: rgb(209, 12, 12);
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 0.7rem;
}
/*Fin CartWidget */
/* End Bootstrap section */

/* ItemListContainer */
.ItemListContainer-Box{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Fin ItemListContainer */

/* Item Count */
.ItemCountBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 220px;
  margin: 10px auto;
}
.ItemCountBtns{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  padding: 2px 0px;
  font-size: 1rem;
}
.ItemCountBtns button{
  background-color: transparent;
  /* padding: 0px 10px; */
  width: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.5s ease;
}
.ItemCountBtns-decrement{
  border: 2px solid rgb(209, 9, 9);;
  color: rgb(209, 9, 9);
  transition: 0.3s;
}
.ItemCountBtns-decrement:hover{
  border: 2px solid white;
  color: white;
  background-color:  rgb(209, 9, 9);;
  /* transition: 0.3s; */
}
.ItemCountBtns-increment{
  border: 2px solid green;
  color: green;
  /* transition: 0.3s; */
}
.ItemCountBtns-increment:hover{
  border: 2px solid white;
  color: white;
  background-color: green;
  /* transition: 0.3s; */
}
.ItemCountBox p{
  font-size: calc(10px + 2vmin);
  margin: 0;
}
.ItemCount-Add{
  width: 100%;
  padding: 5px 10px;
  margin-top: 7px;
  background-color: rgb(69, 69, 238);
  border: none;
  border: 2px solid rgb(6, 6, 224);
  color: white;
  font-weight: 600;
  /* transition: 0.3s; */
}.ItemCount-Add:hover{
  color: white;
  background-color: rgb(6, 6, 224);
  /* transition: 0.3s; */
}
/* Fin ItemCount */

/* ItemList */
.ItemList-Box{
  position: relative;
  width: 100%;
  width: 1200px;
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
}
/* Fin ItemList */

/* Item */
.Item-Box{
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: -8px -8px 25px rgba(240, 240, 240, 0.8),
  3px 3px 20px rgba(0, 0, 0, 0.2);
  animation: moveUp 0.3s linear 0s 1 normal none;

}
.Item-img{
  position: relative;
  width: 100%;
  height: 310px;
  transition: 0.8s;
}
.Item-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Item-BoxText{
  position: absolute;
  bottom: 10px;
  left: 10px;
  visibility: hidden;
  transform: translateY(50%);
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 1px black;
  z-index: 2;
  font-size: 0.9rem;
  max-width: 200px;
}
.Item-Dark{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
}
.Item-Box:hover{
  transition: 0.5s;
}
.Item-Box:hover .Item-Dark{
  transition: 0.5s;
  visibility: visible;
}
.Item-Box:hover .Item-img{
  transform: scale(0.8);
  transition: 0.8s;
}
.Item-Box:hover .Item-BoxText{
  visibility: visible;
  transition: all 0.8s;
  transform: translateY(0);
}
.Item-stock{
  font-weight: 700;
}
.Item-BoxText-info{
  text-decoration: none;
  color: white;
  transition: .3s;
  border: 2px solid white;
  padding: 2px 5px;
}
.Item-BoxText-info:hover{
  transition: .3s;
  color: white;
  border: none;
  background-color: rgb(209, 9, 9);
}
/*Fin Item */

/* ItemDetaailContainer */
.ItemDetailContainer-Box{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Fin ItemDetaailContainer */

/* ItemDetail */
.ItemDetail-contain{
  position: relative;
  width: 100%;
  width: 1000px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 15px 0;
  animation: moveUp 0.3s linear 0s 1 normal none;
}
.ItemDetail-img{
  width: 100%;
}
.ItemDetail-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ItemDetail-text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px;
}
.ItemDetail-text h3{
  font-size: calc(10px + 2vmin);
  line-height: calc(10px + 2vmin);
}
.ItemDetail-text p{
  font-size: calc(10px + 1vmin);
  line-height: calc(10px + 2vmin);
}
.ItemDetail-text p:nth-child(3){
  font-size: calc(10px + .8vmin);
  color: rgba(0, 0, 0, 0.6);
}
/* Checkout */
.btnCheck{
  background-color: transparent;
  padding: 5px 10px;
  font-weight: 900;
  color: rgb(209, 9, 9);
  border: 3px solid rgb(209, 9, 9);
  margin: 10px auto;
  transition: 0.5s ease;
}.btnCheck:hover{
  background-color: rgb(209, 9, 9);
  color: white;
}
/* Fin ItemDetail */

/* Load */
.loadContain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loadBox{
  position: relative;
  width: 200px;
  height: 25px;
  overflow: hidden;
  border: 3px solid rgba(0, 0, 0, 0.6);
}
.loadCharge{
  position: absolute;
  display: block;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background: repeating-linear-gradient(-45deg, black, black 7px, white 7px, white 12px);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: charge 2s linear 0s 1 normal none;
}
/* Fin Load */

/* ANIMATION */
@keyframes moveUp {
  0% {
    transform: translateY(10%);
    opacity: .2;
  }
  50% {
    transform: translateY(5%);
    opacity: .5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes charge {
  0%{
    left: -100%;
  }
  25%{
    left: -75%;
  }
  50%{
    left: -50%;
  }
  75%{
    left: -25%
  }
  85%{
    left: -20%;
  }
  90%{
    left: -20%;
  }
  95%{
    left: -5%;
  }
  100%{
    left: 0;
  }
}
/* media queries */
@media (max-width: 992px){
  .navbar{
    padding-bottom: 1rem;
  }
  .Header-user{
    top: 100%;
    transform: translateY(-100%); 
    right: 50%; 
    transform: translateX(50%); 
    margin-bottom: 20px;
  }
  .subMenuOptions li .Links{
    font-size: calc(10px + 1vmin);
  }
}