.App {
  text-align: center;
  /* background: linear-gradient(#DF98FA, #9055FF); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background: linear-gradient(#DF98FA, #9055FF);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-header-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App-header-title {
  font-size: calc(10px + 2vmin);
  color: white;
  text-transform: uppercase;
}
.App-header-lista {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  font-size: calc(10px + 1.2vmin);
}
.App-header-lista li{
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
